/* Fontes importadas */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  font-family: 'Lato', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:root {
  /* tons claros */
  --cinza-claro: #CCCCCC;
  --verde-claro: #9AF9B1;

  /* tons normais */
  --branco: rgb(248, 248, 248);
  --preto: #121212;
  --verde: #27322D;
  --cinza: #999999;
  --pele: #F9E1D8;
  --salmao: #E89394;
}

body {
  margin: 0;
  padding: 2rem 15rem 2rem 15rem;
  background-color: var(--preto);
}

.bg{  
  width: 100%;
  background: var(--verde);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span {
  margin: 0;
  padding: 0;
  color: var(--branco);
}


h1{
  color: var(--verde-claro);
  font-size: 4rem;
}

h2{
  font-size: 2rem;
  font-weight: 300;
}

.gym img {
  width: 40rem;
  height: 40rem;
}

nav.menu {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
}

.menu a {
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: fit-content;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.menu {
  color: var(--verde-claro);
}

.menu a:nth-child(1):hover {
  -webkit-transform: translateX(1.5rem);
  transform: translateX(1.5rem);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu a:nth-child(2):hover {
  -webkit-transform: translateX(1.5rem);
  transform: translateX(1.5rem);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.5s ease-in-out;
}

a:hover{
  font-weight: 800;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: #121212;
  border-radius: 0.2rem;
  background-color: var(--cinza-claro);
}

a::after {
  content: "";
  display: block;
  height: 50%;
  vertical-align: bottom;
  width: 100%;
  margin-right: -100%;
  border-top: 0.5rem solid var(--verde-claro);
}

.titulo {
  display: flex;
  margin: 0 auto;
  padding: 0;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

