/* Fontes importadas */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  font-family: 'Lato', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:root {
  /* tons claros */
  --cinza-claro: #CCCCCC;
  --verde-claro: #9AF9B1;

  /* tons normais */
  --branco: #f8f8f8;
  --preto: #121212;
  --verde: #27322D;
  --cinza: #999999;
  --pele: #F9E1D8;
  --salmao: #E89394;
}

body {
  margin: 0;
  padding: 2rem 15rem 2rem 15rem;
  background-color: var(--preto);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span {
  margin: 0;
  padding: 0;
  color: var(--branco);
}


h1 {
  color: var(--verde-claro);
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
}



/* Cabeçalho */
nav.menu {
  height: 5rem;
  display: flex;
  gap: 5rem;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
}

.menu a {
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: fit-content;
}

.menu a:nth-child(1),
.menu a:nth-child(2){
  opacity: 1;
  border-top: 0.2rem solid var(--branco);
  transition: all 1s cubic-bezier(0.33, 0, 0.2, 0.92);
}

.menu a:nth-child(1):hover {
  height: -5rem;
  -webkit-transform: translateY(0.15rem);
  transform: translateY(0.15rem);
}

.menu a:nth-child(2):hover {
  -webkit-transform: translateY(0.15rem);
  transform: translateY(0.15rem);
}

a:hover {
  font-weight: 800;
  color: var(--verde-claro);

  border-radius: 0.2rem;
  padding: 1rem 0.5rem 0rem 0.5rem;

  border-top: 0.2rem solid var(--branco);

  transition: all 1s cubic-bezier(0.33, 0, 0.2, 0.92);
}

a::after {
  opacity: 0;
  color: var(--verde-claro);
  content: "";
  display: block;
  height: 50%;
  width: 0%;
  margin-right: -100%;
  border-bottom: 0.4rem solid var(--verde-claro);
  transition: all 0.5s cubic-bezier(0.95, 0.01, 0.3, 0.69);
}

a:hover::after{
  opacity: 1;
  color: var(--verde-claro);
  width: 100%;
}

.titulo {
  display: flex;
  margin: 0 auto;
  padding: 0;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.divisor {
  background-color: var(--branco);
  padding: 0.1rem;
  margin: 2rem 0 2rem 0;
}
/* Fim */




/* Corpo */
.bg {
  padding: 1rem;
  background: var(--verde);

  width: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.gym img {
  width: 40rem;
  height: 40rem;
}
/* Fim */



