/* https://dribbble.com/shots/16371194-Fitness-Landing-Page
https://img.freepik.com/free-psd/flat-design-fitness-gym-landing-page-template_23-2149541490.jpg?w=2000 */

/* Fontes importadas */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  font-family: 'Lato', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:root {
  /* tonss */
  --green: #9AF9B1;

  /* BRANCOS */
  --white: #fff;
  --text-white: #f6f6f6;

  /* BACKGROUND */
  --bg-black: #121214;
}

body {
  margin: 0;
  background-color: #000000;
  background-image: url("../imgs/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-image: linear-gradient(rgb(46, 46, 46), #000); */
}

#container{
  padding: 0rem 15rem 0rem 15rem;
}

#header{
  padding: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span {
  margin: 0;
  padding: 0;
  color: var(--white);
}


h1 {
  color: var(--text-white);
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
}



/* Cabeçalho */
nav.menu {
  height: 5rem;
  display: flex;
  gap: 5rem;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
}

.menu a {
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: fit-content;
}

.menu a:nth-child(1),
.menu a:nth-child(2){
  opacity: 1;
  border-top: 0.2rem solid var(--white);
  transition: all 1s cubic-bezier(0.33, 0, 0.2, 0.92);
}

.menu a:nth-child(1):hover {
  height: -5rem;
  -webkit-transform: translateY(0.15rem);
  transform: translateY(0.15rem);
}

.menu a:nth-child(2):hover {
  -webkit-transform: translateY(0.15rem);
  transform: translateY(0.15rem);
}

a:hover {
  font-weight: 800;
  color: var(--green);

  border-radius: 0.2rem;
  padding: 1rem 0.5rem 0rem 0.5rem;

  border-top: 0.2rem solid var(--white);

  transition: all 1s cubic-bezier(0.33, 0, 0.2, 0.92);
}

a::after {
  opacity: 0;
  color: var(--green);
  content: "";
  display: block;
  height: 50%;
  width: 0%;
  margin-right: -100%;
  border-bottom: 0.4rem solid var(--green);
  transition: all 0.5s cubic-bezier(0.95, 0.01, 0.3, 0.69);
}

a:hover::after{
  opacity: 1;
  color: var(--green);
  width: 100%;
}

.titulo {

  display: flex;
  margin: 0 auto;
  padding: 0;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.divisor {
  background-color: slategrey;
  padding: 0.01rem;
  margin: 2rem 0 2rem 0;
}
/* Fim */




/* Corpo */
.bg {
  border: 0.1rem solid #9AF9B1;
  border-radius: 2rem;

  padding: 1rem;
  background-image: linear-gradient(rgb(2, 20, 10), rgba(47, 53, 41, 0.562));

  width: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.gym img {
  width: 40rem;
  height: 40rem;
}
/* Fim */



